
# Ignore all files in the main directory
/*
# Except
!Readme.md

# Do not ignore all subdirectories and their contents
!/*/

# Do not ignore the .gitignore file
!/.gitignore

# Include all hidden files (starting with a dot) in all subdirectories
**/.*

# Ignore all .class files in all directories
**/*.class


07.Tree/Binary Tree/sampleBinaryTree.java
